* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   height: 100%;
}

body {
   height: 100%;
   display: flex;
   flex-direction: column;
}

main {
   flex-grow: 1;

}

main .container .wrapper_films {
   display: grid;
   gap: 30px;
   grid-template-columns: repeat(4, 300px);

}


